*.[oa]
*.tar.gz
*.tar.bz2
.deps
.libs
Makefile.in
Makefile

/COPYING
/stamp-h1
/config.status
/config.log
/INSTALL
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.sub
/config.status
/configure
/compile
/depcomp
/install-sh
/missing
/stamp-h1

/data/org.freedesktop.Notifications.service

/src/netnotify-daemon
/src/netnotify-daemon-glue.h
